* {
box-sizing: border-box;
}

body {
    background-image: url(../Password-Generator/images/computer-application-technology.jpg);
    background-size: cover;
}

.content {
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
    width: 100%;
}

div.jumbotron {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

h4.display-4 {
    text-align: center;
}

#display {
    width: 100%;
    height: 100px;
    border-style: dotted;
    border-width: 3px;
    border-color: grey;
    border-radius: 15px;
}

#length {
    display: block;
    width: 10%;
    border-bottom: 20px;
}

.button1 {
    display: inline-block;
    background-color: red;
    border-style: solid;
    border-radius: 30px;
    width: 250px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    color: white;
    font: bold;
}

.button2 {
    display: block;
    float: right;
    background-color: darkgrey;
    border-style: solid;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    font-size: 22px;
    color: white;
    font: bold;
}

@media (max-width: 575.98px) {
    body {
        width: 100%;
        background-image: url(../Password-Generator/images/computer-application-technology.jpg);
        background-size: cover;
    }
}

@media (max-width: 767.98px) {
    body {
        width: 100%;
        background-image: url(../Password-Generator/images/computer-application-technology.jpg);
        background-size: cover;
    }
}

@media (max-width: 991.98px) {
    body {
        width: 100%;
        background-image: url(../Password-Generator/images/computer-application-technology.jpg);
        background-size: cover;
    }
}

@media (max-width: 1199.98px) {
    body {
        width: 100%;
        background-image: url(../Password-Generator/images/computer-application-technology.jpg);
        background-size: cover;
    }
}
